<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.css">
    <link rel='stylesheet' href="stylesheets/style.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Cool site by Sofia Xenofontova</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>


<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #20c997;">
    <a class="navbar-brand" href="#">Крутий сайт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="#">Головна</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Тренінги</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Про нас</a>
            </li>
            <ul class="nav justify-content-end">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Мова
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </ul>
    </div>
</nav>
<!--/.Navbar -->


<script src="/bootstrap/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/popper.min.js"></script>

<script src="/bootstrap/bootstrap.bundle.js"></script>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>

<!--  <script src="/js/main.js"></script>-->

</body>
</html>
